.root{
    display: flex;
    flex-direction: column;
    
}

.painel{
    display: flex;    
    width: 70vw; 
    justify-content: center;

    border-bottom: 1px dotted gray;
}

.username{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: blueviolet;
}

.aviso{
    width: 450px;    
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heartbeat {
    -webkit-animation: heartbeat  1.5s ease-in-out 0s infinite normal both running;
    -moz-animation: heartbeat  1.5s ease-in-out 0s infinite normal both running;
    -ms-animation: heartbeat  1.5s ease-in-out 0s infinite normal both running;
    -o-animation: heartbeat  1.5s ease-in-out 0s infinite normal both running ;
    animation: heartbeat  1.5s ease-in-out 0s infinite normal both running;
 }

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(.91);
        transform: scale(.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(.87);
        transform: scale(.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.conta-de-trabalho-dados{
    display: flex;
    flex-direction: column;    
    padding: 1rem;
    width: max-content;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.descricao{
    font-size: 1rem;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color:rgb(111, 0, 255);    
}

.nickname{
    color:orangered;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem 0 0 0;
}

.nome-loja{
    color:rgba(81, 10, 214, 0.712);
    font-weight: lighter;    
    
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration:  overline underline solid rgba(81, 10, 214, 0.397);
    text-decoration-style: dotted;

    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.user_id{
    color:gray;
    font-weight: bold;
    font-size: 1.2rem;   
}

.marketplace{
    color:cornflowerblue;
    font-size: 1rem;
    font-weight: bold;
}

.conta-de-trabalho-opcoes{
    padding: 1rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conta-de-trabalho-opcoes .status{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

.status-value::before{
    content: '{ ';
    font-size: 1.2rem;
}
.status-value::after{
    content: ' }';
    font-size: 1.2rem;
}

.acoes{
    display: flex;
    justify-content: space-between;
}


.status-descricao{
    font-weight: bold;
    color: gray;
}

.status-value{
    color: blueviolet;
    font-weight: bold;    
}

