.root{
    display: flex;
    flex-direction: column;
}

.painel{
    display: flex;    
    width: 70vw; 
    justify-content: center;
    padding: 1rem 0;    
    border-bottom: 1px dotted gray;

}

.aviso{
    margin-top: 1rem;
    font-size: 0.90rem;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conta-de-trabalho-dados{
    display: flex;
    flex-direction: column;    
    padding: 1rem;
    width: max-content;
    align-items: center;
    justify-content: center;
}

.descricao{
    font-size: 1rem;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color:rgb(111, 0, 255);
}

.nome-loja{
    color:orangered;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem 0 0 0;
}

.user_id{
    color:gray;
    font-weight: bold;
    font-size: 1.2rem;
}

.marketplace{
    color:cornflowerblue;
    font-size: 1rem;
    font-weight: bold;
}

.conta-de-trabalho-opcoes{
    padding: 1rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conta-de-trabalho-opcoes .status{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

.status-value::before{
    content: '{ ';
    font-size: 1.2rem;
}
.status-value::after{
    content: ' }';
    font-size: 1.2rem;
}

.acoes{
    display: flex;
    justify-content: space-between;
}


.status-descricao{
    font-weight: bold;
    color: gray;
}

.status-value{
    color: blueviolet;
    font-weight: bold;    
}

