.Marketplace{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid gray;
    border-radius: 5px;
    width: 45vw;

    padding: 1rem;
}

.MarketplaceCard{
    display: flex;
    flex-direction: column;       
    align-items: center;
}


.MarketplaceCard >button{
    margin: 0.25rem;
}
