.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw; 
    height: 5vh;
    padding: 1rem 0; 
   
}

.menu-acoes{
    display: flex;
    justify-content: space-between;

    width: 30vw;
}

.menu button{    
    width: max-content;    
}

.menu-modal{

}