.funcao{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    height: 70vh;
    width: 50vw;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px -21px rgba(0,0,0,0.76); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 50px -21px rgba(0,0,0,0.76);
}
.funcao .nome{    
    color: rgb(49, 49, 219);
}

.entrada-saida{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entrada, .saida{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.entrada label, .saida label{
    font-size: 0.75rem;
    padding: 0.25rem;
}

.saida textarea{
    height: 45vh;
}

.entrada textarea, .saida textarea{
    margin: 0.25rem;
}

.funcao button{  
    width: 150px;
}
